		<div class="post" id="post-4">
			<h2><a href="http://thewrongadvices.com/ProSense/?p=4" rel="bookmark" title="Permanent Link to This Is A Test Post">This Is A Test Post</a></h2>
			
			<div class="entry">
				FOo Bar bettyhotch
			</div>
	
			<p class="postmetadata"><small>May 15th, 2007 <!-- by admin --> | Posted in <a href="http://thewrongadvices.com/ProSense/?cat=1" title="View all posts in Uncategorized" rel="category tag">Uncategorized</a> |   <a href="http://thewrongadvices.com/ProSense/?p=4#comments" title="Comment on This Is A Test Post">5 Comments</a></small></p>
		</div>
		
					
			
					
		<div class="post" id="post-3">
			<h2><a href="http://thewrongadvices.com/ProSense/?p=3" rel="bookmark" title="Permanent Link to Test Post">Test Post</a></h2>
			
			<div class="entry">
				yoeez
			</div>
	
			<p class="postmetadata"><small>May 15th, 2007 <!-- by admin --> | Posted in <a href="http://thewrongadvices.com/ProSense/?cat=4" title="View all posts in Test Cat" rel="category tag">Test Cat</a> |   <a href="http://thewrongadvices.com/ProSense/?p=3#respond" title="Comment on Test Post">No Comments</a></small></p>
		</div>
		
		<%= partial 'people/blog_ad' %>
			
					
		<div class="post" id="post-5">
			<h2><a href="http://thewrongadvices.com/ProSense/?p=5" rel="bookmark" title="Permanent Link to A Post With Lists">A Post With Lists</a></h2>
			
			<div class="entry">
				<p>A post with lists.</p>
<p><strong>Unordered List</strong></p>
<ul>
<li>Item one</li>
<li>Item two</li>
</ul>
<p><strong>Ordered List</strong></p>
<ol>
<li>Item one</li>
<li>Item two</li>
</ol>
			</div>
	
			<p class="postmetadata"><small>May 14th, 2007 <!-- by admin --> | Posted in <a href="http://thewrongadvices.com/ProSense/?cat=3" title="View all posts in Child Cat" rel="category tag">Child Cat</a> |   <a href="http://thewrongadvices.com/ProSense/?p=5#respond" title="Comment on A Post With Lists">No Comments</a></small></p>
		</div>
		
					
			
					
		<div class="post" id="post-1">
			<h2><a href="http://thewrongadvices.com/ProSense/?p=1" rel="bookmark" title="Permanent Link to Hello world!">Hello world!</a></h2>
			
			<div class="entry">
				<p>Welcome to WordPress. This is your first post. Edit or delete it, then start blogging!</p>
			</div>
	
			<p class="postmetadata"><small>May 14th, 2007 <!-- by admin --> | Posted in <a href="http://thewrongadvices.com/ProSense/?cat=1" title="View all posts in Uncategorized" rel="category tag">Uncategorized</a> |   <a href="http://thewrongadvices.com/ProSense/?p=1#comments" title="Comment on Hello world!">3 Comments</a></small></p>
		</div>